<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsmsogn.stackmob"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.tsmsogn.stackmob.SignInActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stackmob.tsmsogn.com"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tsmsogn.stackmob.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tsmsogn.stackmob.ForgotPasswordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tsmsogn.stackmob.AddPostActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tsmsogn.stackmob.ResetPasswordWithTemporaryPasswordActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>